.back {
  height: 100vh;
  display: flex;
  background-color: #f9ed69;
  font-family: 'Rock Salt', 'Indie Flower', 'Shadows Into Light';
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
}

.head {
  letter-spacing: 2px;
  color: #b83b5e;
  font-weight: 600;
  font-size: 55px;
  margin-top: 15%;
  margin-left: 35%;
}

.fas,
.far {
  color: #6a2c70 !important;
}
